
input[type=text] {
	padding:10px;
	border:0;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
	width: 50%;
	margin: 10px;
}
input[type=email] {
	padding:10px;
	border:0;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
	width: 50%;
	margin: 10px;
}
input[type=number] {
	padding:10px;
	border:0;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
	width: 25%;
	margin: 10px;
}
input[type=password] {
	padding:10px;
	border:0;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
	width: 50%;
	margin: 10px;
}
body {
	font-size: 18px;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2.1rem;
}

h3 {
	font-size: 1.9rem;
}

h4 {
	font-size: 1.2rem;
	font-weight: bold;
}

h1.site-title {
	font-size: 1.5rem;
}
h2.site-title {
	font-size: 1.3rem;
}

section h3 {
	font-size: 1.1rem;
	text-transform: uppercase;
}

section {
	margin: 30px 0;
	padding: 20px 0;
	border-bottom: 1px solid #3f8efc;
}



.text-orange {
	color: orange;
}

.bg-orange {
	background: orange;
}

pre {
	background: #bfd8ff;
	padding: 10px;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
	margin-bottom: 1.5rem;
}

.cd {
	font-family: monospace;
	background: aliceblue;
	padding-left: 15px;
	border-left: 2px solid #33c3f0;
}

div.section {
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	margin: 20px 0;
	padding: 20px 0;
}



.resizeable {
	background-color: #3f8efc;
	width: 200px;
	height: 100px;
	transition: width 0.3s, height 0.3s;
	cursor: pointer;
}

.resizeable.large {
	background-color: #33c3f0;
	width: 400px;
	height: 200px;
}

.high {
	background-color: yellow;
	width: 200px;
	height: 100px;
}


.color {
	background-color: pink;
}

.active {
	color: red;
}

.parent {
	padding: 10px;
}

.formsAll {
	display: flex;
	justify-content: space-between;
	
}

.form {
	border: 1px dotted black;
	padding: 15px;
	width: 50%;
	border-radius: 20px;
}

.flex {
	display: flex;
	align-items: center;
}

label {
	padding: 20px;
	margin: 10px;
	

}

.fourthName {
	color: grey;
	
}

.error-message {
	width: 180px;
	color: red;
}

.form__submit {
	margin: 30px;
	padding: 15px;
	border-radius: 20px;
	color: #f9f5ef;
	background-color: #33c3f0;

}
.form__select{
	padding: 10px;
	margin: 20px;
}
.error {
	color: red;
	display: none;
}
#error-message{
	color: red;
	
}